/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body
	{
	font: 16px/28px arial;
	background-image: url(symphony.png);
	}

.container 
	{
	width: 800px;
	margin: auto;
	background-color: white;
	}

.header
	{
	padding: 20px;
border-bottom: 5px solid #14a2c5;
	}

.header ul li 	
	{ 
	display: inline-block; 
	margin-right: 20px;
	margin-top: 20px;
	padding: auto;
	border-bottom: 2px solid skyblue;
	}

.header .judul
	{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #14a2c5;
	}

.header a 
	{
	text-decoration: none;
	color: #363636;
	padding: 15px;
	}

 a:hover
		{
		background-color: #33a5f5;
		color: white;
	
		}
		
.banner {
		height: 300px;
		background-image: url(banner.jpg);
		background-size: cover;
		background-position: -110px 0;
		margin-top: 2px;
		}

.konten
	{
	padding: 20px;
	}
